* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.max-ancho {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Rubik', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 15px 0;
    background: #219ebc;
}

.navbar .max-ancho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: #a8dadc;
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}